table{
  border: 1px solid #eee;
  border-collapse: collapse;
  width: 900px;
  margin: 0 auto;
  text-align: center;
  user-select: none;
  /*table-layout: fixed;*/
}

td{
  border: 1px solid #eee;
}
td.td-select{
  background: #e4f1ff;
}

.refer-line{
  position: absolute;
  pointer-events:none;
}

.refer-line.refer-line-hor{
  border-bottom: 1px dashed #3987d9;
  left: 0;
  right: 0;
} 

.refer-line.refer-line-ver{
  border-right: 1px dashed #3987d9;
  top: 0;
  bottom: 0;
} 

textarea{
  width: 100%;
}