.line-height{
  // background: red;
  // font-size: 0;
  // line-height: 50px;
  .test-1{
    border: #ccc solid 1px;
    background: #eee;
    font-size: 20px;
    line-height: 0;
  }
  .test-2{
    margin-top: 20px;
    border: #ccc solid 1px;
    background: #eee;
    // font-size: 0px;
    line-height: 100px;
  }
}