@import './grid';
@import './line-height';
@import './gradient';
@import './object-fit';
@import './word-break';
@import './clip';

$body-color: red;
body{
  height: 100vh;
  margin: 0;
  padding: 0;
}

