$body-color: red;
body{
  height: 100vh;
  margin: 0;
  padding: 0;
}

.box{
  width: 500px;
  // width: 300px;
  // height: 300px;
  column-count: 2;
  column-width: 100px;
  column-gap: 20px;
  column-rule: red thin solid;
  column-fill: balance;
  .div1{
    // width: 100px;
    // position: absolute;
  }
  h1{
    column-span: all;    
  }
  p{
    background: #eee;
  }
}
